<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <table class="table table-dark table-hover">
        <tr>
            <th class= "fs-1" scope = "col"> First Name</th>
            <th class="fs-1" scope = "col"> Last Name</th>
            <th class="fs-1" scope = "col"> Full Name</th>
        </tr>
        {% for user in users: %}
            <tr>
                <td class="fs-2">{{ user["first_name"] }}</td>
                <td class="fs-2">{{ user["last_name"] }}</td>
                <td class="fs-2">{{ user["first_name"] + " " + user["last_name"] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>